<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h3>Hello {{user.first_name}} {{user.last_name}}</h3>
    <p>Hope you are doing well. You requested for  an online appointment with {{doctor.first_name}} {{doctor.last_name}}

        Your doctor is available to meet with you. Join the below link as soon as possible</p>
    <p>

        Meet Link : <a href="{{meet_link}}" target="_blank">{{meet_link}}</a>
    </p>
        <p>Best regards,<br>nevana hospital Limited</p>
</body>
</html>