<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Please verify your email address by clicking the link below:</h3>
    <p>
        Confirmation Link : <a href="{{confirm_link}}" target="_blank">{{confirm_link}}</a>
    </p>

    <p>If you didn't request this verification, you can safely ignore this email.</p>
        <p>Best regards,<br>nevana hospital Limited</p>
</body>
</html>